# RabbitMQ
RABBITMQ_DEFAULT_USER=myuser
RABBITMQ_DEFAULT_PASS=secret

# PostgreSQL
POSTGRES_URL=jdbc:postgresql://localhost:5432/
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret
POSTGRES_DATABASE=postgres

# PG Admin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# SupaBase
SUPABASE_URL=
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=

# Next
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=

